#findDiv{
    // width: 100%;
    display: flex;
    flex-direction: row;
    // vertical-align: center;
    // width: 100%;
    // padding: 5px;
    // margin-bottom: 10px;
    border-radius: 4px;
    select{
        width: 100px;
        height: 25px;
        margin-bottom: 8px;
    }

    .filters{
        font-size: 0.8em;
        padding: 15px;
        padding-bottom: 0;
        padding-top: 0;
        display: flex;
        flex-direction: column;
    }
    .filters.active{
        padding-bottom: 15px;
        padding-top: 15px;
    }
    #checkbox label{
        width: 85px;
        margin: 3px;
    }
    #checkbox label{
        vertical-align: top;
    }
    .resetButton{
        width: 30px;
        height: 30px;
        cursor: pointer;
        margin-left: 5px;
    }

    .flexRow{
        padding: 5px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        input{
            height: 28px;
            // width: 175px;
        }
        label{
            position: relative;
            top: -4px;
            width:30px;
            height: 30px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 3px;
        }
    }
    // .fieldset{


    // }
    .filters{
        margin: 10px;
        display: flex;
        flex-direction: column;
        label{
            margin: 10px;
        }
        input{
            margin: 5px;
        }
    }
    .selectFilters{
        font-size: 0.8em;
        display: flex;
    }

    @media screen and (min-width: 1200px) {
        display: flex;
        flex-direction: column;
        width: 100%;
        .navButton{
            width: 100%;
        }
        #findInput{
            width: 200px;
        }
    }
}