{% extends "base.html.twig" %}

{% block body %}
<div class="home">
    <div class="backgroundPicture">
        <div class="homeContent">
            <h1>Acceuil</h1>
            <br />
            <h2>Bienvenue sur le site de la bibliothèque</h2>
            <p>Connectez-vous pour accéder au contenu</p>
            <br />
            <div class="navButton">
                <a href="{{ path('login')}}"><i class="fa-solid fa-right-to-bracket"></i>Connexion</a>
            </div>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Harum, ab modi? Ipsum fugiat fugit pariatur odit ad, nobis voluptatem similique amet quam perferendis dignissimos ullam aperiam reiciendis tempore at architecto ipsa soluta corrupti beatae tenetur quos eveniet? A laborum ex amet nulla fugit placeat, reiciendis excepturi fuga voluptatum repellat vel!</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos labore fuga cumque provident eaque quaerat hic illum sit, nemo neque qui? Nihil, praesentium laborum consequuntur esse dicta minima deserunt est soluta, impedit incidunt pariatur corrupti earum delectus dolorum? Debitis deserunt culpa illum quisquam quo fugit esse impedit rem explicabo harum!</p>
        </div>
    </div>
    <div class="content">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae nemo hic deserunt eaque libero voluptatibus dicta sequi necessitatibus mollitia doloribus sed nisi velit magnam iste magni a itaque, voluptatem reiciendis vitae? Repellendus, nisi commodi vel optio, harum quisquam saepe id perspiciatis expedita quasi, ad assumenda aliquid doloribus voluptatum maiores natus in officia reiciendis nemo quae rem. Voluptatibus laboriosam esse necessitatibus unde soluta consequatur. Adipisci amet maiores cupiditate corporis ea veritatis, atque facere consectetur voluptatum recusandae repellendus doloremque aspernatur exercitationem fugit eligendi praesentium harum laborum ipsam voluptatem non ex. Dicta qui distinctio molestiae voluptatibus voluptatum magnam tenetur. Nesciunt odit, quia possimus commodi fugiat eius exercitationem libero rem aut vero, ipsum iusto maxime eligendi, magnam temporibus aspernatur ratione esse explicabo modi. Quisquam ipsum ex, aperiam eligendi molestiae distinctio facilis laborum eos voluptate consequuntur reprehenderit cum culpa fugit quibusdam doloremque modi laboriosam similique aut facere a atque pariatur, necessitatibus labore esse! Ad, a perferendis? Fugit vero adipisci unde ea accusantium magnam nesciunt labore illum, id tempore esse odio at assumenda soluta iste saepe cumque similique nulla aliquam optio et quisquam, minima laudantium. Quam beatae incidunt qui hic nihil mollitia harum consectetur accusantium praesentium minima velit, provident expedita necessitatibus iusto maiores aspernatur iure saepe magnam illo blanditiis sed nisi? Dolorem quaerat vitae voluptas officia ab quidem sed perferendis sequi blanditiis quisquam facilis ipsum temporibus rem obcaecati adipisci, dolores illo nulla amet incidunt. Neque doloribus iure quae, iusto repudiandae officia aliquam provident inventore adipisci, fugit ullam nesciunt ut quaerat. Aliquid cumque porro, voluptates quo suscipit vel quod doloribus fuga eius, laudantium est placeat recusandae alias ipsum magni nesciunt dignissimos consequatur. Sint debitis accusantium neque sit nihil nisi aperiam quaerat rerum necessitatibus nostrum obcaecati natus, fugit ipsa maxime cupiditate doloribus illo officiis sapiente deleniti? Consectetur, pariatur molestias. Ut, quos illum! Magni voluptates laudantium omnis iusto libero.</p>
    </div>
</div>

{% endblock %}