{% extends "base.html.twig" %}

{% block body %}
<div class="home">
    <div class="content">
        <h1>Acceuil</h1>
        <br />
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque, sequi vero quidem nam, incidunt dolore itaque, quaerat dignissimos nobis sapiente distinctio voluptas officiis officia. Vitae excepturi minima provident suscipit nemo atque totam obcaecati, veritatis quisquam et accusamus ratione? Dolores quibusdam ipsum itaque ullam omnis! Necessitatibus, consequatur. Incidunt, temporibus corporis nisi maiores officia iste vero quaerat a fuga fugit voluptas eius!</p>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus fugit at velit. Consectetur velit, delectus, dolorum facere rerum magnam, accusantium beatae consequatur earum magni excepturi quaerat voluptatem ratione. Necessitatibus sequi fugiat commodi ab maiores esse cumque atque odio provident itaque, aspernatur rem, impedit minima sed voluptatibus incidunt delectus assumenda natus laborum exercitationem eveniet hic sunt perferendis architecto. Tenetur minus odio quis amet quos fugit, illo facilis eos fuga id eaque atque, totam libero sequi labore ea, vel aliquam quod ducimus accusamus nam. Asperiores omnis natus eaque aliquam laborum iste placeat non soluta similique fuga totam, consequatur et unde eius labore.
        </p>
    </div>
</div>

{% endblock %}