{% extends "base.html.twig" %}

{% block javascripts %}
    {{ encore_entry_script_tags('browse') }}
{% endblock %}

{% block body %}
    <div id="browseBooks">
        <div id="data-themes" style="display: none">
            {{ themes }}
        </div>
        <div id="data-user" style="display: none">
            {{ user }}
        </div>
    </div>
{% endblock %}